$blue700: #1a1a40;
$blue600: #2c2c66;
$black: #000;
$black300: #5C5F66;
$black500: #2C2E33;
$black600: #25262B;
$black700: #1A1B1E;
$white: #ffffff;
$grey:#bababa;
$grey100: #efefef;
$grey200: #ebe9e9;
$grey300: #edebe9c4;
$purple100: #7a0bc0;
$purple200: #650c9d;